* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
    
}

img{
    width: 350px;
    height: 500px;
    display: block;
}