// @import '~bootstrap/dist/css/bootstrap.min.css';
app-sobre-mim{
width: 100%;
height: 100%;
}

.container {
  display: flex;
  width: 80%;
  align-items: center;
  flex-direction: column;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  background-color: azure;
  padding: 12px;
}

.container h1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
    align-items: center;
}

// .container img {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//     align-items: center;
// }

.container img {
    width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    align-items: center;
}

.container p {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    align-items: center;
    font-size: 20px;
    height: 50%;
    margin: 50px 20px;
 padding: 20px;
}

.container ul{
 margin: 10px 0;
 padding-left: 50%;
  
}

.container ul > li{
  text-align: left;
}

.row{
  width: 100%;
  margin: 10px 0;
}