.container{
    max-width: 700px;
    margin: 40px auto;
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    background-color: aliceblue;
    border: none;
    padding: 10px 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color: #d4e6f1;
    color: aliceblue;
}