*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app{
    background-color: orangered;
    width: 100%;
  height: 100%;
}

.body-w100 {
    width: 100%;
}

.body-h100{
    height: 100%;
}

app-root{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  
}